# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
env/

# Logs
logs/
*.log

# Environment Variables
.env

# Docker
*.env
docker-compose.yml
Dockerfile

# Jupyter Notebooks
.ipynb_checkpoints

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
